@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
    --clr-pink: hsla(345, 95%, 68%, 1);
    --clr-dark:hsla(0, 0%, 0%, 1);
}
body{
    font-family: "Red Hat Text", sans-serif;
}
.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.box{
    position: relative;
    border-radius: 8px;
    width: 148px;
    height: 150px;
    background-color: var(--dark-desaturated-blue);
}
.circles{
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: var(--very-dark-blue);
    width: 12px;
    height: 12px;
}
.circle-2{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.unit{
    color: var(--clr-pink);
    font-size: 80px;
    position: absolute;
    top: 15%;
    left: 40%;
}
.first-half{
    background-color: var(--clr-dark);
    opacity: 0.15;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50%;
    border-bottom:1px solid var(--clr-dark);
}
.second-half{
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 50%;
    background-color: var(--dark-desaturated-blue);
}